<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Course</title>
</head>
<body>
    <!-- < %- include('../partials/_navbar.ejs') % > -->
    <h1>Update <%=course.name%></h1>
    <form action="/courses/<%=course._id%>?_method=PUT" method="POST">
        <label for="name">Course Name:</label>
        <input type="text" name="name" id="name" value="<%=course.name%>">

        <label for="description">Description:</label>
        <input type="text" name="description" id="description" value="<%=course.description%>">

        <label for="topic">Topic</label>
        <select name="topic" id="topic">
            <% courseEnum.topic.forEach((item)=>{%>
                    <option
                value="<%=item%>"
                    <%=course.topic%> === item ? "selected" : "" %> > <%=item%></option>
            <%})%>
        </select>

        <label for="catalog">Catalog</label>
        <select name="catalog" id="catalog">
            <% courseEnum.catalog.forEach((item)=>{%>
                <option
                value="<%=item%>"
                    <%=course.catalog%> === item ? "selected" : "" %> > <%=item%></option>
            <%})%>
        </select>

        <label for="studyType">Study Type</label>
        <select name="studyType" id="studyType">
            <% courseEnum.studyType.forEach((item) => { %>
                <option
                    value="<%= item %>"
                    <%= course.studyType === item ? "selected" : "" %>>
                    <%= item %>
                </option>
            <% }) %>
        </select>

        <label for="duration">Course Duration</label>
        <input type="number" name="duration" id="duration" value="<%=course.duration%>">

        <button type="submit">Update <%=course.name%></button>
    </form>
</body>
</html>