<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <%- include('../partials/_navbar.ejs')%>
        <h1>Edit <%=onePerson.firstName%>'s details</h1>
        <form action="/users/<%=user._id%>/persons/<%= onePerson._id%>?_method=PUT" method="post">
            <label for="firstName">Enter the first name</label>
            <input type="text" name="firstName" id="firstName" value="<%=onePerson.firstName%>">

            <label for="lastName">Enter the last name</label>
            <input type="text" name="lastName" id="lastName" value="<%=onePerson.lastName%>">

            <label for="nationality">Enter the nationality</label>
            <input type="text" name="nationality" id="nationality" value="<%=onePerson.nationality%>">

            <label for="occupation">Choose the occupation:</label>
            <select name="occupation" id="occupation" value="<%=onePerson.occupation%>">

                <option value="Student">Student</option>
                <option value="Tutor">Tutor</option>
            </select>

            <button>Submit edited details</button>
        </form>
</body>

</html>