<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs')%>
    <h1>All of the people enrolled are bellow:</h1>

    <a href="/users/<%=user._id%>/persons/newPerson">Add a new person</a>
    
    <% Person.forEach((onePerson)=>{ %>
        <% if (onePerson.active===true){%>
            <a href="/users/<%=user._id%>/persons/<%=onePerson._id%>"><li><%=onePerson.firstName%> <%=onePerson.lastName%> <%=onePerson.occupation%></li></a>
        <%}%>
   <% })%>
</body>
</html>