<!-- views/enrollment.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs')%>
    <h1>Enrollment</h1>
    <% enrollments.forEach((enrollment)=>{%>
        <li><%=enrollment.student.firstName%></li>
        <li><%=enrollment.tutor.firstName%></li>
        <li><%=enrollment.course.name%></li>
    <%})%>

    <a href="/users/<%=user._id%>/enrollments/new">Add new new enrollment</a>
</body>

</html>