<!-- views/enrollment.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment</title>

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('../partials/_navbar.ejs')%>

    <h1>Enrollment</h1>
    <form action="/users/<%=user._id%>/enrollments" method="POST">
        <label for="student">Student Name</label>
        <select class="multiple-selecet"name="student" id="student" multiple>
            <% students.forEach((student)=>{%>
                <option value="<%=student._id%>"><%=student.firstName%> <%=student.lastName%></option>
            <%})%>
        </select>

        <label for="tutor">Tutor Name</label>
        <select name="tutor" id="tutor">
            <% tutors.forEach((tutor)=>{%>
                <option value="<%=tutor._id%>"><%=tutor.firstName%> <%=tutor.lastName%></option>
            <%})%>
        </select>

        <label for="course">Course Name</label>
        <select name="course" id="course">
            <% courses.forEach((course)=>{%>
                <option value="<%=course._id%>"><%=course.name%></option>
            <%})%>
        </select>

        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate">

        <label for="grade">Add grade</label>
        <input type="number" name="grade" id="grade">

        <button type="submit">Enroll</button>
    </form>

</body>
</html>